html {
    box-sizing: border-box;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    scroll-behavior: smooth !important;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.body {
    position: relative;
    overflow-x: hidden;
    color: var(--neutral-color-100);
    background-color: var(--neutral-color-10);
    transition: var(--transition-1);

    &::before {
        content: '';
        position: absolute;
        top: 134px;
        left: 356px;
        z-index: var(--z-index-0);
        width: 551px;
        height: 551px;
        background: #fa7515;
        opacity: 0.25;
        filter: blur(220px);

        @include normal-desktop {
            top: 236px;
            left: 55px;
        }

        @include small-tablet {
            right: 0;
            width: 200px;
            height: 200px;
            opacity: 1;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 324px;
        right: 275px;
        z-index: var(--z-index-0);
        width: 525px;
        height: 525px;
        background: #e2f8f0b3;
        opacity: 0.35;
        filter: blur(180px);

        @include normal-desktop {
            top: 358px;
            right: 92px;
        }
    }

    &--fixed {
        overflow-y: hidden;
    }
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
}

input {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding: 0;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

label {
    cursor: pointer;
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-padding);
    max-width: calc(var(--container-width) + (var(--container-padding) * 2));
}

.hidden {
    font-size: 0;
    opacity: 0;
    visibility: hidden;
}

.unselectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
