.hero {
    padding-top: 87px;

    &__container {
        display: flex;
        gap: 97px;
        align-items: end;

        @include normal-desktop {
            gap: 50px;
        }

        @include small-desktop {
            justify-content: space-between;
        }

        @include mini-desktop {
            gap: 70px;
            flex-direction: column;
            align-items: center;
        }
    }

    &__left {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 596px;
    }

    &__spoiler {
        margin: 0 0 114px;
        font-weight: 700;
        font-size: 80px;
        letter-spacing: -3px;

        @include tablet {
            margin-bottom: 60px;
            text-align: center;
        }

        @include small-tablet {
            margin-bottom: 40px;
            font-size: 60px;
        }
    }

    &__text {
        @include flex-align-center;
        gap: 27px;
        font-weight: 600;
        line-height: 42px;
        letter-spacing: -1px;

        @include tablet {
            text-align: center;
        }

        &::before {
            content: '';
            display: inline-block;
            flex-shrink: 0;
            border: 1px solid var(--neutral-color-100);
            width: 76px;
            transform: translateY(-17px);

            @include tablet {
                transform: translate(44px, -40px);
            }

            @include small-tablet {
                display: none;
            }
        }
    }

    &__email {
        @include flex-align-center;
        z-index: var(--z-index-3);
        gap: 16px;
        margin-top: 78px;

        @include tablet {
            justify-content: center;
            margin-top: 30px;
        }

        @include small-tablet {
            flex-direction: column;
            margin-top: 20px;
        }

        &-input {
            border-bottom: 1px solid var(--neutral-color-40);
            width: 280px;
            height: 47px;
            background-color: transparent;
        }

        &-btn {
            border-radius: 100px;
            padding: 16px 32px;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0;
            color: var(--neutral-color-10);
            background-color: var(--neutral-color-100);
            transition: all var(--transition-1);

            &:hover {
                opacity: 0.9;
            }
        }
    }

    &__right {
        position: relative;
        
        @include small-tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__sales-report {
        display: flex;
        gap: 24px;
        flex-direction: column;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 20px 40px 80px 0 #5960871f;
        color: #1d1e25;
        background-color: white;

        @include small-desktop {
            max-width: 318px;
        }

        @include mini-desktop {
            min-width: 420px;
            transform: translateX(-91px);
        }

        @include small-tablet {
            order: 2;
            transform: translateX(0);
        }

        @include mobile {
            width: 80dvw;
            min-width: 0;
            max-width: none;
        }

        &-text {
            font-weight: 700;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: -0.5px;
        }
    }

    &__customer-growth {
        position: absolute;
        top: -33px;
        right: -133px;
        display: flex;
        gap: 12px;
        flex-direction: column;
        border-radius: 8px;
        padding: 20px;
        width: 213.21px;
        height: 220.63px;
        box-shadow: 20px 40px 80px 0 #2d33511f;
        color: #1d1e25;
        background-color: white;

        @include small-desktop {
            top: -148px;
            right: -1px;
        }

        @include mini-desktop {
            top: -23px;
            right: -95px;
        }

        @include small-tablet {
            position: static;
            order: 1;
            margin-bottom: 28.75px;
            width: 100%;
            height: 100%;
        }

        @include mobile {
            width: 80dvw;
        }

        &-text {
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            letter-spacing: -0.5px;
        }
    }

    &__table {
        position: relative;
        margin-top: 28.75px;
        border-radius: 8px;
        padding: 20px;
        width: 419px;
        box-shadow: 20px 40px 80px 0 #2d33511f;
        text-align: left;
        background-color: #000;

        @include small-tablet {
            order: 3;
        }

        @include mobile {
            width: 80dvw;
        }

        &-head {
            font-weight: 600;
            line-height: 20px;
            letter-spacing: 0;
            color: var(--neutral-color-140);
        }

        &-money {
            padding: 4px 0 8px;
            font-weight: 700;
            font-size: 20px;
            line-height: 26px;
            letter-spacing: 0;
            color: #fff;
        }

        &-percent {
            &::after {
                content: 'from last year';
                margin-left: 7.5px;
                font-weight: 400;
                font-size: 14px;
                line-height: 22px;
                letter-spacing: -0.5px;
                color: var(--neutral-color-140);
            }

            &--green {
                color: var(--success-color-10);

                &::before {
                    content: url('../../../assets/svg/arrow-green.svg');
                    margin-right: 7.5px;
                }
            }

            &--red {
                color: var(--error-color-10);

                &::before {
                    content: url('../../../assets/svg/arrow-red.svg');
                    margin-right: 7.5px;
                }
            }
        }
    }
}
