.insight {
    padding: 150px 0 91px;

    @include tablet {
        padding: 60px 0 30px;
    }

    &__heading {
        text-align: center;

        &-title {
            font-weight: 600;
            line-height: 120%;
            letter-spacing: -2px;
        }

        &-text {
            margin-top: 24px;
            font-weight: 500;
            line-height: 32px;
            letter-spacing: 0;
            color: var(--neutral-color-60);
        }
    }
}

.swiper2 {
    margin-top: 80px;

    &-slide {
        max-width: 582px;

        & p {
            display: flex;
            justify-content: space-between;
            margin: 16px 0;
            line-height: 150%;
            letter-spacing: 0;
            color: var(--neutral-color-60);
        }
    }
}
