<section class="features">
    <div class="container features__container">
        <div class="features__left">
            <img
                class="features__img"
                width="585"
                height="651"
                src="../../../assets/images/laptop-typing.jpeg"
                alt="Women typing on laptop"
            />
            <div class="features__stat">
                <div class="features__stat-heading">
                    Statistic
                    <img
                        src="../../../assets/svg/three-dots.svg"
                        width="17.5"
                        height="17.5"
                        alt="More fake button"
                    />
                </div>
                <div class="features__stat-hero">
                    <div class="features__stat-item">
                        <div class="features__stat-item-img">
                            <img
                                src="../../../assets/svg/total-income-icon.svg"
                                alt="item graph"
                            />
                        </div>
                        <div class="features__stat-item-text">
                            <p
                                class="features__stat-item-text-grey features__stat-item-text-grey--b"
                            >
                                Total income
                            </p>
                            <p class="features__stat-item-text-sum">
                                $7.020
                                <img
                                    width="10"
                                    height="6"
                                    src="../../../assets/svg/features-green-arrow.svg"
                                    alt=""
                                />
                                <span>15%</span>
                            </p>
                            <p
                                class="features__stat-item-text-grey features__stat-item-text-grey--s"
                            >
                                Your <span>item</span> of this month compared to
                                last month
                            </p>
                        </div>
                    </div>
                    <div class="features__stat-item">
                        <div class="features__stat-item-img">
                            <img
                                class="features__stat-item-img"
                                width="95"
                                height="87"
                                src="../../../assets/svg/total-expense-icon.svg"
                                alt="item graph"
                            />
                        </div>
                        <div class="features__stat-item-text">
                            <p
                                class="features__stat-item-text-grey features__stat-item-text-grey--b"
                            >
                                Total expense
                            </p>
                            <p class="features__stat-item-text-sum">
                                $7.020
                                <img
                                    width="10"
                                    height="6"
                                    src="../../../assets/svg/features-red-arrow.svg"
                                    alt=""
                                />
                                <span>15%</span>
                            </p>
                            <p
                                class="features__stat-item-text-grey features__stat-item-text-grey--s"
                            >
                                Your <span>item</span> of this month compared to
                                last month
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="features__right">
            <h2 class="features__title heading-h2">
                Passion to increase company revenue up to 85%
            </h2>
            <p class="features__comment text-p-medium">
                Automate your sales, marketing and service in one platform.
                Avoid date leaks and enable consistent messaging
            </p>
            <ul class="features__list">
                <li class="features__list-item">
                    <img src="../../../assets/svg/circle-checkmark-green.svg" alt="">
                    Close more deals with single - page contact managment
                </li>
                <li class="features__list-item">
                    <img src="../../../assets/svg/circle-checkmark-green.svg" alt="">
                    Enjoy one-click calling, call scripts and voicemail automation
                </li>
                <li class="features__list-item">
                    <img src="../../../assets/svg/circle-checkmark-green.svg" alt="">
                    Take stages and milestones of your deals to keep the sales process an track
                </li>
            </ul>
        </div>
    </div>
</section>
