<section class="hero">
    <div class="container hero__container">
        <div class="hero__left">
            <h2 class="hero__spoiler">Digitally forward creative</h2>
            <p class="hero__text text-p-extra-large">
                When it comes to interactive marketing, we've got you covered. Be
                where the world is going
            </p>
            <form class="hero__email">
                <input class="hero__email-input" placeholder="Enter your email" type="email" />
                <button class="hero__email-btn">Try for free</button>
            </form>
        </div>
        <div class="hero__right">
            <div class="hero__sales-report">
                <p class="hero__sales-report-text">Sales Report</p>
                <img class="hero__sales-report-img" style="width: 100%;" src="../../../assets/svg/sales-report.svg" alt="Sales Report">
            </div>
            <div class="hero__customer-growth">
                <p class="hero__customer-growth-text">Customer Growth</p>
                <img src="../../../assets/svg/customer-growth.svg" alt="Customer Growth">
            </div>
            <table class="hero__table">
                <tr>
                    <th class="hero__table-head text-p-small">Sales</th>
                    <th class="hero__table-head text-p-small">Marketing</th>
                </tr>
                <tr>
                    <td class="hero__table-money">$31,092</td>
                    <td class="hero__table-money">$29,128</td>
                </tr>
                <tr>
                    <td class="hero__table-percent hero__table-percent--green text-p-small">4.2%</td>
                    <td class="hero__table-percent hero__table-percent--red text-p-small">1.2%</td>
                </tr>
            </table>
        </div>
    </div>
</section>
