<section class="insight">
    <div class="container insight__container">
        <div class="insight__heading">
            <h2 class="heading-h2 insight__heading-title">
                Trending news from Coca
            </h2>
            <p class="text-p-medium insight__heading-text">
                we have some new Service to pamper you
            </p>
        </div>
        <div class="swiper2 swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide swiper2-slide">
                    <img src="./assets/images/swiper2img.jpeg" alt="Writing and typing man">
                    <p class="text-p-small"><span>Published in Insight Jan 30, 2021</span> by : Albert Sans</p>
                    <h4 class="heading-h4">
                        What makes an authentic employee profile, and why does it matter ?
                    </h4>
                </div>
                <div class="swiper-slide swiper2-slide">
                    <img src="./assets/images/swiper2img-2.jpeg" alt="Writing and typing man">
                    <p class="text-p-small">Published in Insight Jan 30, 2021 <span>by : Albert Sans</span></p>
                    <h4 class="heading-h4">
                        How to build a Kaylen relationship with a good company?
                    </h4>
                </div>
                <div class="swiper-slide swiper2-slide">
                    <img src="./assets/images/swiper2img.jpeg" alt="Writing and typing man">
                    <p class="text-p-small">Published in Insight Jan 30, 2021 <span>by : Albert Sans</span></p>
                    <h4 class="heading-h4">
                        What makes an authentic employee profile, and why does it matter ?
                    </h4>
                </div>
                <div class="swiper-slide swiper2-slide">
                    <img src="./assets/images/swiper2img-2.jpeg" alt="Writing and typing man">
                    <p class="text-p-small">Published in Insight Jan 30, 2021 <span>by : Albert Sans</span></p>
                    <h4 class="heading-h4">
                        How to build a Kaylen relationship with a good company?
                    </h4>
                </div>
            </div>
        </div>
    </div>
</section>
