<section class="overview">
    <div class="container overview__container">
        <h2 class="overview__title heading-h2">
            Coca help our client solve complex customer problems with date that
            does more.
        </h2>
        <p class="overview__text text-p-medium">
            Our platform offers the modern enterprise full control of how date
            can be access and used with industry leading software solutions for
            identity, activation, and date collaboration
        </p>
        <div class="overview__grid">
            <div class="overview__grid-el">
                <div class="overview__grid-img">
                    <img
                        src="./assets/svg/notepad1.svg"
                        alt="Notepad"
                        aria-label="Notepad icon"
                    />
                </div>
                <h4 class="overview__grid-h4 heading-h4">Build your date fundamental</h4>
                <p class="overview__grid-text text-p-default">
                    Build access to date, develop valuable business insights and
                    drive revenue while maintaining full control over access and
                    use of date at all times.
                </p>
            </div>
            <div class="overview__grid-el">
                <div class="overview__grid-img">
                    <img
                        src="./assets/svg/notepad2.svg"
                        alt="Notepad"
                        aria-label="Notepad icon"
                    />
                </div>
                <h4 class="overview__grid-h4 heading-h4">Measure more effective</h4>
                <p class="overview__grid-text text-p-default">
                    Effectively measure people-based campaigns with the freedom
                    to choose from best-of breed partners to optimize and drive
                    media innovation.
                </p>
            </div>
            <div class="overview__grid-el">
                <div class="overview__grid-img">
                    <img
                        src="./assets/svg/notepad3.svg"
                        alt="Notepad"
                        aria-label="Notepad icon"
                    />
                </div>
                <h4 class="overview__grid-h4 heading-h4">Activate your date</h4>
                <p class="overview__grid-text text-p-default">
                    Accurately address your specific audiences at scale across
                    any channel, platform, publisher or network and safely
                    translate date between identity space to improve results.
                </p>
            </div>
            <div class="overview__grid-el">
                <div class="overview__grid-img">
                    <img
                        src="./assets/svg/shield.svg"
                        alt="Shield"
                        aria-label="Shield icon"
                    />
                </div>
                <h4 class="overview__grid-h4 heading-h4">Strengthen consumer privacy</h4>
                <p class="overview__grid-text text-p-default">
                    Protect your customer date with leading privacy-preserving
                    technologies and advanced techniques to minimize date
                    movement while still enabling insight generation.
                </p>
            </div>
        </div>
    </div>
</section>
