<section class="testimonials">
    <div class="container testimonials__container">
        <div class="testimonials__heading">
            <h2 class="heading-h2 testimonials__heading-title">
                What our customer are saying
            </h2>
            <p class="text-p-medium testimonials__heading-text">
                We are trusted numerous companies from different business to
                meet their needs
            </p>
        </div>
        <div class="swiper3">
            <img
                class="swiper3-quotes"
                src="./assets/svg/quotes.svg"
                alt=""
            />
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="swiper3-slide">
                        <div class="swiper3-slide-rating text-p-default">
                            <img
                                src="./assets/svg/stars.svg"
                                alt="Rating stars"
                            />
                            5.0
                        </div>
                        <h3 class="swiper3-slide-text heading-h3">
                            “With Agency the results are very satisfying. wrapped
                            with Hight quality and innovative design that makes a
                            surge of visitors on my website”
                        </h3>
                        <address class="swiper3-slide-user">
                            <img src="./assets/images/testimonials-photo.jpeg" alt="User">
                            <div class="swiper3-slide-user-text text-p-medium">
                                Renee Wells
                                <span class="text-p-default">Product Designer, Quotient</span>
                            </div>
                        </address>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper3-slide">
                        <div class="swiper3-slide-rating text-p-default">
                            <img
                                src="./assets/svg/stars.svg"
                                alt="Rating stars"
                            />
                            5.0
                        </div>
                        <h3 class="swiper3-slide-text heading-h3">
                            “With Agency the results are very satisfying. wrapped
                            with Hight quality and innovative design that makes a
                            surge of visitors on my website”
                        </h3>
                        <address class="swiper3-slide-user">
                            <img src="./assets/images/testimonials-photo.jpeg" alt="User">
                            <div class="swiper3-slide-user-text text-p-medium">
                                Renee Wells
                                <span class="text-p-default">Product Designer, Quotient</span>
                            </div>
                        </address>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper3-slide">
                        <div class="swiper3-slide-rating text-p-default">
                            <img
                                src="./assets/svg/stars.svg"
                                alt="Rating stars"
                            />
                            5.0
                        </div>
                        <h3 class="swiper3-slide-text heading-h3">
                            “With Agency the results are very satisfying. wrapped
                            with Hight quality and innovative design that makes a
                            surge of visitors on my website”
                        </h3>
                        <address class="swiper3-slide-user">
                            <img src="./assets/images/testimonials-photo.jpeg" alt="User">
                            <div class="swiper3-slide-user-text text-p-medium">
                                Renee Wells
                                <span class="text-p-default">Product Designer, Quotient</span>
                            </div>
                        </address>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="swiper3-slide">
                        <div class="swiper3-slide-rating text-p-default">
                            <img
                                src="./assets/svg/stars.svg"
                                alt="Rating stars"
                            />
                            5.0
                        </div>
                        <h3 class="swiper3-slide-text heading-h3">
                            “With Agency the results are very satisfying. wrapped
                            with Hight quality and innovative design that makes a
                            surge of visitors on my website”
                        </h3>
                        <address class="swiper3-slide-user">
                            <img src="./assets/images/testimonials-photo.jpeg" alt="User">
                            <div class="swiper3-slide-user-text text-p-medium">
                                Renee Wells
                                <span class="text-p-default">Product Designer, Quotient</span>
                            </div>
                        </address>
                    </div>
                </div>
            </div>
            <button class="swiper3-button-prev">
                <svg
                    width="14.399902"
                    height="12.600098"
                    viewBox="0 0 14.3999 12.6001"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                    <defs />
                    <path
                        id="Icon"
                        d="M7.46 0.26C7.81 -0.09 8.38 -0.09 8.73 0.26L14.13 5.66C14.48 6.01 14.48 6.58 14.13 6.93L8.73 12.33C8.38 12.68 7.81 12.68 7.46 12.33C7.11 11.98 7.11 11.41 7.46 11.06L11.32 7.19L0.89 7.19C0.4 7.19 0 6.79 0 6.3C0 5.8 0.4 5.39 0.89 5.39L11.32 5.39L7.46 1.53C7.11 1.18 7.11 0.61 7.46 0.26Z"
                        fill="#FFFFFF"
                        fill-opacity="1.000000"
                        fill-rule="evenodd"
                    />
                </svg>
            </button>
            <button class="swiper3-button-next">
                <svg
                    width="14.399902"
                    height="12.600098"
                    viewBox="0 0 14.3999 12.6001"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                >
                    <defs />
                    <path
                        id="Icon"
                        d="M7.46 0.26C7.81 -0.09 8.38 -0.09 8.73 0.26L14.13 5.66C14.48 6.01 14.48 6.58 14.13 6.93L8.73 12.33C8.38 12.68 7.81 12.68 7.46 12.33C7.11 11.98 7.11 11.41 7.46 11.06L11.32 7.19L0.89 7.19C0.4 7.19 0 6.79 0 6.3C0 5.8 0.4 5.39 0.89 5.39L11.32 5.39L7.46 1.53C7.11 1.18 7.11 0.61 7.46 0.26Z"
                        fill="#FFFFFF"
                        fill-opacity="1.000000"
                        fill-rule="evenodd"
                    />
                </svg>
            </button>
        </div>
    </div>
</section>
